*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

html body{
	width: 100%;
	font-family: Roboto, sans-serif;
	background-color: rgba(0,0,0, .2);
}
header{
	width: 100%;
	min-height: 205px;
	background-color: rgba(0,0,0, .5);
	/*border: 1px solid #000;*/
}

.container {
	max-width: 1800px;
	/*min-height: 200px;*/
	margin:0 auto;
	/*border: 1px solid #000;*/

}
.wrap__container{
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;
}
.menu__item1, .menu__item2, .menu__item3{
	flex:0 1 auto;
}


.menu__btn{
	min-width: 300px;
	max-height: 70px;
	background-color: yellow;
	border-radius: 5px;
	border: 1px solid yellow;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 5px;
	line-height: 70px;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	text-align: center;
	margin-top: 65px;
	/*padding-left: 20px;*/
}

 a{
	text-decoration: none;
}

.logotype {}
.block__contacts {
	margin-top: 65px;
	/*margin-left: 70px;*/
}
.wrap__block__contacts {}
.block__contacts__item p a{
	display: block;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: yellow;
	/*padding: 20px 30px 0px 0px;*/
	line-height: 25px;
}
.btn__connect{
	min-width: 150px;
	min-height: 25px;
	font-family: 24px;
	background-color: yellow;
	border: 1px solid yellow;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
	/*margin-top: -50px;
	margin-bottom: 65px;*/
}
.modal__window-connect {
	display: none;
	position: absolute;
	top: 50%;
	width: 420px;
	height: 230px;
	background-color: yellow;
}
.modal__window-connect span, input{
	padding: auto;
}
.text-form {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}
.inp {
	text-align: center;
}
.btn__submit {
	text-align: center;
}
.btn__submit button{
	width: 110px;
	height: 25px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid green;
	border-radius: 5px;
	background-color: green;
}
.offer__title {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 70px;
	font-weight: 600;
	text-transform: uppercase;

}
/*.offer__title:hover{
	transform: scale(1.2);
}*/
.bg__offer {
	/*min-width: 1089px
	min-height:594px;*/
	margin:0 auto;
}
.title:hover{
	animation-name:rotate;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	cursor: pointer;
}

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.title:hover{
	transform: rotate(360deg);
}




@media (max-width:980px){
	.menu__btn{
		/*min-width: 200px;*/
		font-size: 2em;
		margin-bottom: 65px;
	}
	.block__contacts__item p a{
		font-size: 30px;
		margin-bottom: 65px;
		text-align: center;
	}
	.wrap__container{
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
	.menu__item1{
		order: 3;
	}
	.menu__item2{
		order: 2;
	}
	.menu__item3{
		order: 1;
	}
	.btn__connect{
		min-width: 200px;
		min-height: 70px;
		font-size: 30px;
		line-height: 70px;
		margin-top: -50px;
		margin-bottom: 65px;
	}
}